{% extends "layout/default" %}
{% block content %}
<script type="text/javascript">
    jQuery(function($){
        $('#drag').dropfile();
    });
</script>
<div class="container" id="content">
    <div class="panel panel-default">
        <div class="panel-body" id="filesM">
            Vos fichier :
            <button type="button" class="btn btn-default pull-right" id="newDir">Nouveau dossier</button>

            <div id="dirForm" >
                <form role="form" action="/file/create/{{ id }}" method="post" class="col-lg-offset-4 col-lg-4" id="dirCr">
                    <div class="form-group">
                        <label for="name">Nom du dossier:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <button type="submit" class="btn btn-default">Soumettre</button>
                </form>
            </div>
        </div>
    </div>
    <ul id="file_li" class="list-group col-lg-8">
    </ul>
    <div class="panel panel-default col-lg-4" id="drag">
        <div class="panel-body">
            Panel content
        </div>
    </div>

</div>
{% endblock %}