body {
    padding-top: 70px;
    padding-bottom: 30px;
}

#drag{
    border:3px dashed #CDCACA !important;
    color:#ABA9A9 !important;
    display:block !important;
    float:left !important;
    position:relative !important;
    text-align: center;
    font-size: 20px;
}

#drag.hover{
    background-color:#D6D7E5;
    border-color:#3B7FED !important;
}